#he
{
    font-family: sans-serif;
    margin: 2rem;
}
body
{
    margin-top: 3rem;
    font-family: sans-serif;
}
.main
{
    padding-top: 1rem;
    width: 20rem;
    height: auto;
    background-color: rgb(24, 37, 37);
    border-radius: 0.3rem;
    padding-bottom: 1rem;
}
.container
{
    width: 18rem;
    height: 18rem;
    background-color: red;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
input
{
    width: 17.8rem;
    height: 1.8rem;
    border-radius: 0.3rem;
}
th
{
    width: 100%;
    color: white;
    background-color: black;
    height: 1.8rem;
}
tr
{
    color: white;
    background-color: black;
    height: 1.8rem;
}
.row,
.mainarea
{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.search
{
    margin-top: 0.4rem;
    width: 4rem;
    height: 1.5rem;
    background-color: rgb(26, 181, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 0.85rem;
    border-radius: 0.2rem;
    border: none;
    margin-bottom: 0.4rem;
    cursor: pointer;
}
.reset
{
    margin-top: 0.4rem;
    width: 4rem;
    height: 1.5rem;
    background-color: rgb(218, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 0.85rem;
    border-radius: 0.2rem;
    border: none;
    margin-bottom: 0.4rem;
    cursor: pointer;
}
.answer
{
    width: 18rem;
    height: 1.8rem;
    background-color: rgb(49, 241, 6);
    border-radius: 0.3rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
